# Environment
NODE_ENV=production

# Database
MONGODB_URI=your_mongodb_uri

# Application
PORT=3000

# JWT
JWT_SECRET=your_jwt_secret
JWT_REFRESH_SECRET=your-refresh-secret-key

# API Base URL
API_BASE_URL=your_production_url